@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('/fonts/Figtree-Variable.woff2') format('woff2');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('/fonts/Figtree-Italic-Variable.woff2') format('woff2');
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}
