---
import LegalLayout from '@layouts/LegalLayout.astro';
import '@/styles/prose.css';

const lang = 'en' as const;
---

<LegalLayout title="Imprint" description="Legal notice and company information for Hustlrr." lang={lang}>
  <p>Responsible for the content on this website:</p>

  <p>
    <strong>Rubens Pessoa de Barros Filho, BSc</strong><br />
    UNESCO-Esplanade 8/55<br />
    8020 Graz<br />
    Austria
  </p>

  <p>
    Phone number: +43 677 63041761<br />
    <a href="mailto:contact@rubenspessoa.dev">contact@rubenspessoa.dev</a>
  </p>

  <p>
    Softwareentwickler<br />
    Mitglied der WK&Ouml;, WKSt, Fachgruppe f&uuml;r Datenverarbeitung und Informationstechnik<br />
    Gewerbeordnung: <a href="https://www.ris.bka.gv.at" target="_blank" rel="noopener noreferrer">www.ris.bka.gv.at</a>
  </p>

  <p>
    Verbraucher haben die M&ouml;glichkeit, Beschwerden an die Online-Streitbeilegungsplattform der EU zu richten: <a href="http://ec.europa.eu/odr" target="_blank" rel="noopener noreferrer">http://ec.europa.eu/odr</a>.<br />
    Allf&auml;llige Beschwerden k&ouml;nnen auch an die oben angegebene E-Mail-Adresse gerichtet werden.
  </p>
</LegalLayout>
