---
import LegalLayout from '@layouts/LegalLayout.astro';
import '@/styles/prose.css';

const lang = 'de' as const;
---

<LegalLayout title="Impressum" description="Rechtliche Angaben und Unternehmensinformationen für Hustlrr." lang={lang}>
  <p>Verantwortlich für den Inhalt dieser Website:</p>

  <p>
    <strong>Rubens Pessoa de Barros Filho, BSc</strong><br />
    UNESCO-Esplanade 8/55<br />
    8020 Graz<br />
    Österreich
  </p>

  <p>
    Telefonnummer: +43 677 63041761<br />
    <a href="mailto:contact@rubenspessoa.dev">contact@rubenspessoa.dev</a>
  </p>

  <p>
    Softwareentwickler<br />
    Mitglied der WKÖ, WKSt, Fachgruppe für Datenverarbeitung und Informationstechnik<br />
    Gewerbeordnung: <a href="https://www.ris.bka.gv.at" target="_blank" rel="noopener noreferrer">www.ris.bka.gv.at</a>
  </p>

  <p>
    Verbraucher haben die Möglichkeit, Beschwerden an die Online-Streitbeilegungsplattform der EU zu richten: <a href="http://ec.europa.eu/odr" target="_blank" rel="noopener noreferrer">http://ec.europa.eu/odr</a>.<br />
    Allfällige Beschwerden können auch an die oben angegebene E-Mail-Adresse gerichtet werden.
  </p>
</LegalLayout>
