---
import BaseLayout from './BaseLayout.astro';
import type { Lang } from '@i18n/translations';

interface Props {
  title: string;
  description: string;
  lang: Lang;
}

const { title, description, lang } = Astro.props;
---

<BaseLayout title={title} description={description} lang={lang}>
  <main class="min-h-screen flex items-center justify-center px-5">
    <div class="max-w-md text-center">
      <slot />
    </div>
  </main>
</BaseLayout>
